.carousel-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
  }
  
  .carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height as needed */
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .carousel-slide img {
    /* max-height: 100%; */
    /* max-width: 250%; */
    width: 20%;
    object-fit: contain;
  }
  